/*Modificando el icono del botón*/
.gitHubIcon{
    
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    
    
}

 /*Adaptando el tamaño de los iconos de la lista de tecnologías*/
 .icon-list-small{
    width: 40px;
}